.text-header {
  text-align: center;
  color: teal;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.text-h3 {
  text-align: center;
}

.text-table {
  border-collapse: collapse;
  font-family: sans-serif;
  color: #1f3f73;
  font-size: smaller;
}

.table,
th,
td {
  border: 1px solid #999;
  padding: 5px 10px;
  table-layout: center;
}
